* {
  box-sizing: border-box;

  background-color: #f5f5f5;
  /* max-width: 1440px;*/
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 16px;
}

a {
  text-decoration: none;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
.row {
  display: block;
}
.col-6 {
  float: left;
  width: 50%;
  /* padding: 50px;*/
}

/*.article {
  display: block;
  position: absolute;
  top: 200px;
  left: 90px;
  width: 500px;
}*/
h1 {
  margin-top: 270px;
  /*padding-left: 70px;*/
  margin-left: 150px;
  font-size: 50px;
  font-weight: bold 700;
  color: #3f72af;
}
.desc {
  color: black;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 100px;
  /* padding-left: 40px;*/
  /* margin-right: 50px;
  /*text-align: center;*/
}

/*.container {
  position: relative;
  left: 650px;
  top: 100px;
  width: 540px;
  background-color: white;
  background-image: none;
  border-radius: 6px;
}*/
.container {
  background-color: white;
  background-image: none;
  border-radius: 6px;
  text-align: center;
  width: 450px;
  margin: 200px 0px 0px 50px;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
}
.form1 {
  text-align: center;
  background-color: white;
  background-image: none;
  margin-top: 50px;
  border-radius: 6px;
  /*
  position: absolute;
  top: 20px;*/
}
input {
  padding-left: 30px;
  font-size: 12px;
  width: 400px;
  height: 50px;
  background-image: none;
  background-color: white;
  margin-top: 25px;
  border-radius: 6px;
  /*margin-bottom: 0px;
  /*box-shadow: 0 0 10px grey;*/
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 500;
}
input:hover {
  box-shadow: 0 0 4px hsl(246, 25%, 77%);
}
input:focus {
  outline: none;
  border-color: hsl(248, 32%, 49%);
  font-weight: 400;
  box-shadow: 0 0 4px;
}
.error {
  background-image: none;
  background-color: white;
  color: hsl(0, 100%, 74%);
  margin-right: 50px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
}

#email1 {
  display: none;
}
#password {
  display: none;
}
.btn {
  background-image: none;
  background-color: #3f72af;
  /* top: 100px;*/
  width: 400px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: 400;
  color: white;
  margin-top: 15px;
}
.btn:hover {
  box-shadow: 0 0 4px #00a8cc;
  background-color: #00a8cc;
}
.btn1 {
  background-image: none;
  background-color: #62d2a2;
  /* top: 100px;*/
  width: 250px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: 400;
  color: white;
  margin-top: 15px;
  margin-bottom:30px;
}
.btn1:hover {
  box-shadow: 0 0 4px #9df3c4;
  background-color: #9df3c4;
}
.term_services {
  margin-top: 20px;
  text-align: center;
  font-size: 9px;
  background-color: white;
  color: grey;
  background-image: none;
  border-radius: 6px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
}
.terms {
  color: #3490de;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  background-image: none;
}

@media only screen and (max-width: 800px) {
  .col-6 {
    width: 100%;
    margin-right: 100px;
    text-align: center;
  }
  /* .container{
    width: 90%;
  }*/
  h1 {
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin: 70px 0 20px 0;
  }
  .desc {
    text-align: center;
    margin: 0 0 50px 0;
  }
  .tryIt {
    width: 90%;
    text-align: center;
    margin: 0px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .form1 {
    margin-top: 30px;
  }
  .container {
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
  }
  input {
    width: 90%;
  }
  .btn {
    width: 90%;
    margin-left: 0;
  }
  .term_services {
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
}
hr.solid {
  border-top: 3px solid #f9f7f7;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
